@model LAB_2.Models.Orders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.orderedProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderedProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderedCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
